#container {
    width: 130px;
    height: 60px;
    display: table;
    background-color: #ccc;         
}

.example-spacer {
    flex: 1 1 auto;
}

.example-container {
                background: #eee;
}
