<h2>Condition Creator</h2>
<div>
<form>
    <div class="form-group">
        <label for="user_id">User ID</label>
        <input type="text" class="form-control" id="user_id" required>
    </div>
    <div class="form-group">
        <label for="condition_text">Condition</label>
        <input type="text" class="form-control" id="condition_text" required>
    </div>
    <div class="form-group">
        <label for="notification_method">Notification Method</label>
        <select class="form-control" id="notification_method" required>
            <option *ngFor="let method of notification_methods" [value]="method">{{method}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="symbol">Symbol</label>
        <input type="text" class="form-control" id="symbol" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
